body{
    margin: 0;
}

.element{
    margin: 0.75%;
}

.container{
    display:block;
    clear:both;
}

.orange-rectangle{
    height: 85px;
    width: 48.5%;
    float: left;
    box-sizing: border-box;
    background-color: orange;
}

.green-picture{
    height: 345px;
    clear:both;
    box-sizing: border-box;
    background-color: greenyellow;
}

.blue-square{
    height: 170px;
    width: 31.83%;
    float: left;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

.grey-square{
    height: 120px;
    width: 23.5%;
    float: left;
    box-sizing: border-box;
    background-color: lightgray;
}

@media (max-width: 320px) {
    
    body{
        background-color: lightblue;
    }

    .orange-rectangle{
        height: 70px;
        width: 98.5%;
    }

    .blue-square{
        height: 90px;
        width: 98.5%;
    }

    .grey-square{
        height: 50px;
        width: 98.5%;
    }
}

@media (min-width: 321px) and (max-width: 1023px) {
    
    body{
        background-color: lightyellow;
    }

    .orange-rectangle{
        height: 70px;
        width: 98.5%;
    }

    .blue-square{
        height: 170px;
        width: 98.5%;
    }

    .grey-square{
        height: 85px;
        width: 48.5%;
    }
}

@media (min-width: 1024px) {
    
    body{
        background-color: lightcoral;
    }
}