body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

.counter{
    width: 100%;
    justify-content:space-around;
}

.score{
    margin: 20px;
}

.option-pannel{
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}

#button-container{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.move-button{
    font-size: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

#game-over{
    display: none;
}